# 와인 맛 다중분류
- 베스트 모델 찾은 후 자동중단
- 3등급과 9등급은 제외할 것

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

wine = pd.read_csv('C:/Workspace/DeepLearning/dataset/wine.csv', header=None)
wine.head()

     0     1     2    3      4     5     6       7     8     9    10  11  12
0   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4   5   1
1   7.8  0.88  0.00  2.6  0.098  25.0  67.0  0.9968  3.20  0.68  9.8   5   1
2   7.8  0.76  0.04  2.3  0.092  15.0  54.0  0.9970  3.26  0.65  9.8   5   1
3  11.2  0.28  0.56  1.9  0.075  17.0  60.0  0.9980  3.16  0.58  9.8   6   1
4   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4   5   1

In [2]:
# 3~9등급 확인
wine.iloc[:,-2].value_counts().sort_index()

3      30
4     216
5    2138
6    2836
7    1079
8     193
9       5
Name: 11, dtype: int64